:root {
  --spacer: 10px;
  --media-lg: 1300px;
  --media-sm: 720px;
  --brand-1: #2cbae8;
  --color-font: #444;
  --font-size-base: 18px;
  --font-family-1: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%
}

body {
  color: var(--color-font);
  background-color: #fff;
  font-size: var(--font-size-base);
  font-family: var(--font-family-1);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--brand-1);
}

a:visited {
  color: darkblue;
}

a:hover, a:focus {
  color: var(--color-font);
}

img, video {
  max-width: 100%;
  height: auto;
}

.container-sm {
  max-width: var(--media-sm);
  margin: 0 auto;
}

.main {
  max-width: var(--media-lg);
  margin: 0 auto;
}

.list-block li {
  list-style: none;
  border-bottom: 1px solid #f2f2f2;
  padding: var(--spacer) 0;
}

.hide {
  display: none;
}

.video {
  margin: 0 auto;
  display: block;
}

.btn {
  border-radius: 2px;
  color: var(--brand-1);
  border: 2px solid currentColor;
  font-family: var(--font-family-1);
  font-size: var(--font-size-base);
  text-align: center;
  text-decoration: none;
  padding: var(--spacer);
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-in;
}

.btn--sm {
  font-size: 80%;
  padding: calc(var(--spacer) / 2);
  font-weight: 700;
}

.form-field-block {
  padding: var(--spacer) 0;
}

label {
  font-weight: 700;
}

.input-text, textarea, select {
  color: var(--color-font);
  border: 2px solid #e5e5e5;
  display: block;
  width: 100%;
  padding: var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-1);
  line-height: 1.5;
  transition: all 0.5s ease-in;
}
  
.input-text:focus, textarea:focus, select:focus {
  border-color: var(--brand-1);
  outline: 0;
}

textarea {
  min-height: 100px;
}

.subheading {
  font-size: 80%;
  color: #888;
}

.text-center {
  text-align: center;
}

.margin-reset {
  margin-bottom: 0;
}

.video-controls {
  padding: var(--spacer) 0;
}

.video-controls .btn {
  margin: calc(var(--spacer) / 2);
}

.js-highlightImage {
  position: relative;
  cursor: pointer;
}

.js-highlightImage > img {
  opacity: 0.75;
}

#markercircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background-size: contain;
    opacity: 1;
}
