<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css" />
    {% block extra_head %} {% endblock %}
  </head>
  <body>
    <div class="header">

    </div>
    <main id="main" class="main">
      {% block main %} {% endblock %}
    </main>
  </body>
</html>